<!-- Footer -->
<div id="footer">
    <section>
        <h2>Sobre a Promove Digital</h2>
        <p>A Promove Digital é uma agência especializada em <strong>tráfego pago, desenvolvimento de sites e identidade
                digital</strong>. Nosso objetivo é acelerar o crescimento do seu negócio online, transformando
            visitantes em
            clientes através de estratégias digitais eficazes e personalizadas.</p>
        <ul class="actions">
            <li><a href="#cta" class="button">Saiba Mais sobre Nós</a></li>
        </ul>
    </section>
    <section>
        <h2>Contato</h2>
        <dl class="alt">
            <dt>Atendimento</dt>
            <dd>Atendemos clientes em todo o Brasil de forma remota.</dd>
            <dt>Whatsapp</dt>
            <dd><a href="https://api.whatsapp.com/send?phone=559539086305&text=Olá!%20Gostaria%20de%20um%20orçamento">
                    +55 (95) 95390-86305</a>
            </dd>
            <dt>Email</dt>
            <dd><a href="mailto:contato@promove.digital">contato@promove.digital</a></dd>
        </dl>
        <ul class="icons">
            <li><a href="https://instagram.com/promove-digital" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
            <li><a href="https://facebook.com/promove-digital" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
            <li><a href="https://linkedin.com/company/promove-digital" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-linkedin-in alt"><span class="label">LinkedIn</span></a></li>
        </ul>
    </section>
    <p class="copyright">&copy; Promove.digital. Powered by: <a href="https://linkedin.com/in/igoraujo"
            target="_blank" rel="noopener noreferrer">Igor Araujo</a>.
    </p>

</div>

<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>